@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  /* main colors */
  --background-color: #b5bacb;
  --primary-color: #d2d8ed;
  --secondary-color: #f6ece4;

  /* button colors */
  --soft-pink-color: #f8afaf;
  --soft-yellow-color: #f6d253;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  border: 0.5px solid var(--soft-pink-color);
}
body {
  width: 1200px;
  margin-inline: auto;
  margin-block: 16px;
  background-color: var(--background-color);
}

p::selection {
  background-color: var(--soft-pink-color);
  color: #000;
}
.empty-div {
  width: 100%;
  height: 250px;
  background-color: var(--background-color);
}

/* common styles of sections */

.header,
.contact,
.skills,
.experience,
.education,
.language,
.projects,
.attribution {
  margin-block: 6px;
  padding: 24px;
  border: 3px solid black;
  border-radius: 12px;
  background-color: var(--primary-color);
}

.skills__section-title,
.experience__section-title,
.education__section-title,
.language__section-title,
.projects__section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-block: 12px;
  text-decoration: var(--soft-pink-color) wavy underline;
}

/* utility */

.hover-icon {
  filter: grayscale(1);
  width: 38px;
}

.hover-icon:hover {
  transition: ease-in 0.4s;
  filter: grayscale(0);
  transform: scale(1.2);
  border-radius: 5px;
}

.layout {
  margin-block: 24px;
  padding: 10px 16px 16px 16px;
  background-color: var(--secondary-color);
  border: 3px solid black;
  border-radius: 15px;
  height: fit-content;
}

/* buttons */
.buttons,
.buttons-md {
  display: flex;
  column-gap: 8px;
  cursor: pointer;
}

.buttons div {
  width: 50px;
  height: 50px;
  background-color: var(--soft-pink-color);
  border: 3px solid black;
  border-radius: 50%;
}

.buttons:hover > :first-child {
  transition: ease-in 0.4s;
  background-color: var(--primary-color);
}
.buttons:hover > :last-child {
  transition: ease-out 0.4s;
  background-color: var(--soft-yellow-color);
}
.buttons div:first-child {
  background-color: var(--soft-yellow-color);
}
.buttons div:last-child {
  background-color: var(--primary-color);
}
/* medium btns */
.buttons-md div {
  width: 30px;
  height: 30px;
  background-color: var(--soft-pink-color);
  border: 3px solid black;
  border-radius: 50%;
}
.buttons-md:hover > :first-child {
  transition: ease-in 0.4s;
  background-color: var(--primary-color);
}
.buttons-md:hover > :last-child {
  transition: ease-out 0.4s;
  background-color: var(--soft-yellow-color);
}
.buttons-md div:first-child {
  background-color: var(--soft-yellow-color);
}
.buttons-md div:last-child {
  background-color: var(--primary-color);
}

/* buttons end  */

/* tags */
.tags {
  height: auto;
  padding: 4px;
}

.tags li {
  display: inline-block;
  width: fit-content;
  height: 15px;
  padding: 6px;
  margin-block: 8px;
  background-color: var(--soft-pink-color);
  border-radius: 5px;
  cursor: pointer;
}
.tags li:hover {
  transition: ease 0.5s;
  background-color: var(--soft-yellow-color);
}

/* tags end */

/* header  */

.header {
  border: 3px solid black;
  border-radius: 12px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 160px auto;
  column-gap: 32px;
  align-items: center;
}

.header > img {
  border-radius: 50%;
}
.header div * {
  margin-block: 8px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.header h2 {
  opacity: 75%;
  font-weight: 600;
}

.header p {
  letter-spacing: 0.1em;
  line-height: 1.9;
}

.header__contact-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.header__contact-info li {
  display: flex;
  column-gap: 8px;
}

.header__contact-info .hover-icon {
  width: 20px;
  object-fit: contain;
}
.header__contact-info li:hover > .hover-icon {
  transition: ease-in 0.2s;
  filter: grayscale(0);
  transform: scale(1.2);
}

/* main layout  */
main {
  display: grid;
  grid-template-areas:
    "five five  five"
    "three three two"
    "three three two"
    "three three four"
    "one one  four"
    "one  one four";
  column-gap: 16px;
}
.layout-1 {
  grid-area: three;
}
.layout-2 {
  grid-area: four;
}
.layout-3 {
  grid-area: one;
}
.layout-4 {
  grid-area: two;
}
.layout-5 {
  grid-area: five;
}
/* Skills  */

.skills ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
}

.skills__skill {
  height: 50px;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 5px;
  background-color: var(--soft-pink-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.skills__skill:hover > .hover-icon {
  transition: ease-in 0.4s;
  filter: grayscale(0);
  transform: scale(1.3);
  border-radius: 5px;
  rotate: 360deg;
}

.skills__skill i {
  font-style: normal;
}

/* Experience and Education  */
.experience__exp * p,
.education__institute * p {
  margin-block: 8px;
}
.experience__role,
.education__course {
  font-size: 1.2rem;
  font-weight: 500;
}
.experience__org,
.education__institute-name {
  font-weight: 500;
}

.experience__timeline-location,
.education__timeline-location {
  display: flex;
  justify-content: space-between;
}

/* languages */
.language ul li {
  list-style: disc;
  margin: 15px 20px;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  /* row-gap: 12px; */
}
.projects__project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__title {
  font-weight: 600;
  font-size: 1.2rem;
}

.projects__project img {
  width: 150px;
  object-fit: contain;
}

.projects__project-info p {
  margin-block: 8px;
  line-height: 1.9;
}

.projects--git {
  display: inline-block;
  padding: 8px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
.projects--live {
  display: inline-block;
  padding: 8px;
  background-color: #005eff;
  color: #fff;
  border-radius: 5px;
}
.projects--live:hover,
.projects--git:hover {
  transition: ease 0.5s;
  background-color: #f6ece4;
  color: #000;
}

.attribution a {
  text-decoration: var(--soft-pink-color) wavy underline;
}

/* responsive  */

@media all and (min-width: 768px) and (max-width: 1210px) {
  body {
    width: auto;
    margin-inline: 8px;
  }
  main {
    display: grid;
    grid-template-areas:
      "five five  "
      "three  two"
      "three  two"
      "three  four"
      "one   four"
      "one   four";
    column-gap: 16px;
  }
  .header {
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 16px;
  }
  .skills ul {
    grid-template-columns: repeat(2, auto);
    gap: 4px;
  }
}

/* mid size mobile to min tabs */

@media all and (min-width: 480px) and (max-width: 768px) {
  /* common styles of sections */
  .header,
  .contact,
  .skills,
  .experience,
  .education,
  .language,
  .projects,
  .attribution {
    margin-block: 6px;
    padding: 12px;
  }

  body {
    width: auto;
    margin-inline: 8px;
  }
  /* header */
  .header {
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 16px;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .header h2 {
    font-size: 1rem;
  }
  .header p {
    letter-spacing: 1;
  }
  .header__contact-info {
    grid-template-columns: 1fr;
  }

  /* layout */

  .layout {
    margin-block: 14px;
    padding: 5px 8px 8px 8px;
    background-color: var(--secondary-color);
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
  }
  main {
    grid-template-columns: repeat(1, auto);
    column-gap: 0;
    grid-template-areas:
      "one"
      "three"
      "five"
      "four"
      "two";
  }

  /* projects */
  .projects__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .projects__project a img {
    display: none;
  }

  .skills ul {
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .skills__skill {
    height: 50px;
    padding-inline: 8px;
    padding-block: 8px;
    border-radius: 5px;
    background-color: var(--soft-pink-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }
}
/* mini mobile   */
@media all and (max-width: 480px) {
  /* common styles of sections */
  .header,
  .contact,
  .skills,
  .experience,
  .education,
  .language,
  .projects,
  .attribution {
    margin-block: 6px;
    padding: 12px;
    border: 3px solid black;
    border-radius: 12px;
    background-color: var(--primary-color);
  }

  body {
    width: auto;
    margin-inline: 8px;
  }
  /* header */
  .header {
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 16px;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .header h2 {
    font-size: 1rem;
  }
  .header p {
    letter-spacing: 1;
  }
  .header__contact-info {
    grid-template-columns: 1fr;
  }

  /* layout */

  .layout {
    margin-block: 14px;
    padding: 5px 8px 8px 8px;
    background-color: var(--secondary-color);
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
  }
  main {
    grid-template-columns: repeat(1, auto);
    column-gap: 0;
    grid-template-areas:
      "one"
      "three"
      "five"
      "four"
      "two";
  }

  /* projects */
  .projects__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .projects__project a img {
    display: none;
  }

  .skills ul {
    grid-template-columns: repeat(2, auto);
    gap: 4px;
  }

  .skills__skill {
    height: 50px;
    padding-inline: 8px;
    padding-block: 8px;
    border-radius: 5px;
    background-color: var(--soft-pink-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }
}
